.loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;

  &.active {
    display: block;
  }
}

.loading-indicator {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
