.hover-search {
  right: 0;
  top: 0;
  padding: .5rem;
  width: 24rem;
}

.search-input {
  margin: .5rem .25rem;

  > input {
    padding: .25rem .75rem;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 999rem;
  }
}

.search-state {
  display: none;
  margin: 1rem 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);

  &.active {
    display: table;
  }
}

.state-current {
  line-height: 2rem;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.state-start, .state-arrow, .state-end {
  text-align: center;
  font-size: .75rem;
}

.state-start, .state-end { width: 45%; }

.state-controls {
  padding: .5rem;
  text-align: center;

  > button { width: 40%; }
}

.search-result {
  max-height: 60vh;
}

.search-item {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);

  &:hover { background: rgba(255, 255, 255, 0.2); }
}
